.MainArea-container {
  display: grid;
  height: calc(100vh - 20px);
  min-height: 100%;
  grid-template-columns: 33% 34% 33%;
}

.MainArea-container > div:nth-child(2) {
  border-width: 1px;
  border-color: black;
  border-left-style: solid;
  border-right-style: solid;
}
